<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="ApplyCorporate">
            <directory suffix="Test.php">tests/ApplyCorporate/Feature</directory>
        </testsuite>
        <testsuite name="Onboarding">
            <directory suffix="Test.php">tests/Onboarding/Feature</directory>
            <directory suffix="Test.php">tests/Onboarding/RestrictQueryParam</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <report>
            <clover outputFile="reports/coverage-report.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="reports/tests-report.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:L2HkrMfLR4fjQL2MYsJZzlbzKeeBGaOFUeSR+HnO0H8="/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql_testing"/>
        <env name="USE_SCHEMA_DUMP" value="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="REACTOR_ENABLED" value="false"/>
        <env name="AZURE_STORAGE_NAME" value="finxponboardingdocs"/>
        <env name="AZURE_STORAGE_CONTAINER" value="uploads"/>
        <env name="BUSINESS_ONBOARDING_CLIENT" value="business-onboarding-client-staging"/>
        <env name="KYCP_PROGRAMME_BETTER_PAYMENT" value="11"/>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>
